
/* ----------------------- */
/* articles / posts */

.post {
    --max-width: 880px;
}

.post .content {
    background-color: white;
}
.post .row {
    justify-content: center;
}
.post .column {
    align-items: flex-start;
    max-width: 600px;
}

.post .post-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-sm);
    margin-bottom: var(--gap-sm);
    font-size: var(--font-size-sm);
}


/* legacy_post */

.hero.legacy_hero {
    height: 70vh;
}

.legacy_post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-sm);
    margin-bottom: var(--gap-lg);
}

.legacy_post .content {
    max-width: 800px;
}

.legacy_post .content img {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* filter */

/* filter tabs */

.article-results-tab-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    margin-top: var(--gap);
}

.article-results-tab-wrap a {
    text-decoration: none;
}

.article-results-tab-item {
    font-weight: var(--base-font-weight) !important;
    font-size: var(--font-size-sm-link);
    padding: 0;
    border: none;
    background: none;
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: unset;
    cursor: pointer;
    margin-top: 0.5rem;
    text-underline-offset: 3px;
    position: relative;
    transform: var(--transition-button);
    
    &:hover {
        color: var(--primary);
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: var(--tertiary);
        
    }
    &.active {
        color: var(--primary);
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: var(--tertiary);
    }
    &.active:hover {        
        text-decoration-color: var(--primary);
    }
}
a.article-results-tab-item,
button.article-results-tab-item {
    margin-top: 1rem;
}