/* ----------------------- */
/* CARDS */


.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* gap: var(--gap-sm); */
    /* border: 1px solid var(--primary); */
    width: 100%;
    /* min-width: 300px; */
    /* margin: 3rem auto; */
    /* background-color: var(--white); */
    box-sizing: border-box;
}
.card-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-sm);
    /* border: 1px solid var(--primary); */
    width: 100%;
    /* min-width: 300px; */
    /* margin: 3rem auto; */
    background-color: var(--white);
    box-sizing: border-box;
    text-align: center;
}
.card-center > * {
    text-align: center;
    align-items: center;
}

.column.half_col .card {
    width:calc(var(--max-width)/3);
    max-width: 30vw;
}
@media screen and (max-width: 1440px) {
    .column.half_col .card {
        max-width: 40vw;
    }
}
@media screen and (max-width: 1080px) {
    .column.half_col .card {
        width: 100%;
        max-width: unset;
    }
}

.card p {
    max-width: 55ch;
}
.card p:last-of-type {
    margin-bottom: 0;
}
.card-image {
    width: 100%;
    /* height: 30%; */
    overflow: hidden;
    background-color: var(--primary);
    line-height: 0;
}
.range .card-image {
    /* aspect-ratio: 3 / 5 ; */
}
.card-image {
    width: 100%;
    height: auto;
}
.range .card-image {
    max-height: 40vh;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* <img> is inline element - to remove padding/line-height change to block */
    display: block;
}
.range .card-image img {
    height: 40vh;
}
.card-content {
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    position: relative;
    gap: var(--gap-xs);
    /* font-weight: var(--base-font-weight); */
}
.card-content .card-text {
    max-height: 400px;
    overflow-y: auto;
    border-top: 0.5px solid rgba(var(--primary-rgb), 0.125);
    position: relative;
}
@media screen and (max-width: 1200px) {
    .card-content .card-text {
        max-height: unset;
    }
}

.card-text ul {
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.card-text li {
    margin-bottom: 0.5rem;
}

.card-content .card-image {
    margin-bottom: var(--gap);
}
.card [class*="button"], .card button {
    margin-top: 1.5rem;
}

/* ----------------------- */
/*  */

.card_link {
    text-decoration: none;
    position: relative;
}

/* --------------------------------------- */
/* --------------------------------------- */

/* GRIDS */

.grid-archive .column {
    gap: var(--gap);
}

.grid-archive .grid-col.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-large);
}


@media screen and (max-width: 1200px) {
    .grid-archive .grid-col.column {
        width: 100%;
        max-width: unset;
    }
}
.grid-archive .card {
    width: 100%;
    /* max-width: calc(var(--one-qtr-max-width) + (var(--gap) / 2)); */
    max-width: calc(var(--one-qtr-max-width));
    /* aspect-ratio: 1 / 1; */
    /* overflow: hidden; */
    align-items: flex-start;
}



.grid-archive .card:hover,
.grid-archive a:hover .card  {
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}


.grid-archive a .card-image  {
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    transition: var(--transition);
}

.grid-archive a:hover .card-image  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-archive .card img {
    width: 100%;
    height: 100%;
    /* min-height: var(--one-third-max-width); */
    /* min-height: calc(var(--one-third-max-width) + (0.5rem)); */
    object-fit: cover;
    object-position: center;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
    aspect-ratio: 1 / 1.414;
    /* A4 */
}

.grid-archive .card:hover img,
.grid-archive a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}


@media screen and (max-width: 1440px){
    .grid-archive .card, 
    .grid-archive .card img {
        max-width: calc(var(--one-qtr-max-width));
    }
}
@media screen and (max-width: 1200px){
    .grid-archive .card, 
    .grid-archive .card img {
        /* max-width: calc(var(--one-third-max-width) - (1rem));
        min-height: calc(var(--one-third-max-width) - (1rem)); */
    }
}
@media screen and (max-width: 880px){
    .grid-archive .card, 
    .grid-archive .card img {
        max-width: calc(var(--one-half-max-width));
        min-height: calc(var(--one-half-max-width));
    }
}
@media screen and (max-width: 660px){
    .grid-archive .card, 
    .grid-archive .card img {
        max-width: calc(var(--max-col-width));
        min-height: calc(90vw - (0.0rem));
    }
}


.grid-archive .card-content {
    align-items: flex-start;
    padding: 0;
    padding-top: var(--gap-sm);
}

.grid-archive h3 {
    overflow: hidden;
    /* display: inline-flex; */
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}


.grid-archive p {
    overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* ----------------------- ----------------------- ----------------------- */
/* PROJECTS LISTING GRID */

.grid_banner {
    background-color: var(--primary);
    color: var(--white);
    padding: var(--gap-large) var(--gutter);
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
}
.grid_banner .row {
    justify-content: center;
}

.grid_banner .grid-col.column {
    width: 100%;
    max-width: unset;
    box-sizing: border-box;
}
.grid_banner h2 {
    margin: 0;
}   


.grid-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    /* margin-bottom: var(--gap-large); */
}

.grid .grid-col.column {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--one-qtr-max-width), 1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--gap);
}

@media screen and (max-width: 1200px) {
    .grid .grid-col.column, .column.one-third, .column.two-third {
        width: 100%;
        max-width: unset;
    }
}
.grid .card {
    width: 100%;
    /* max-width: calc(var(--one-qtr-max-width) + (var(--gap) / 2)); */
    max-width: calc(var(--one-qtr-max-width) + (8px));
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
}

.grid .card:hover,
.grid a:hover .card  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid .card img {
    width: 100%;
    height: 100%;
    /* min-height: var(--one-qtr-max-width); */
    min-height: calc(var(--one-qtr-max-width) + (0.5rem));
    object-fit: cover;
    object-position: center;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
}

.grid .card:hover img,
.grid a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}

@media screen and (max-width: 1440px){
    .grid .card, 
    .grid .card img {
        max-width: calc(var(--one-qtr-max-width) - (0.5rem));
    }
}
@media screen and (max-width: 1200px){
    .grid .card, 
    .grid .card img {
        max-width: calc(var(--one-third-max-width) - (1rem));
        min-height: calc(var(--one-third-max-width) - (1rem));
    }
}
@media screen and (max-width: 880px){
    .grid .card, 
    .grid .card img {
        max-width: calc(var(--one-half-max-width) - (0.5rem));
        min-height: calc(var(--one-half-max-width) - (0.5rem));
    }
}
@media screen and (max-width: 660px){
    .grid .card, 
    .grid .card img {
        max-width: calc(90vw - (0.0rem));
        min-height: calc(90vw - (0.0rem));
    }
}

/* --------------------------------------- */
/* COLOUR PALETTE */

.grid-colours .column {
    gap: var(--gap);
}

.grid-colours .grid-col.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap);
}
@media screen and (max-width: 1200px) {
    .grid-colours .grid-col.column {
        gap: var(--gap-large);
    }
}


@media screen and (max-width: 1200px) {
    .grid-colours .grid-col.column {
        width: 100%;
        max-width: unset;
    }
}
.grid-colours .card {
    width: 100%;
    max-width: calc(var(--one-sixth-max-width));
    overflow: hidden;
}

/* .grid-colours .card:hover, */
.grid-colours a:hover .card-img  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-colours .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
    aspect-ratio: 1 / 1;
    /* A4 */
}

.grid-colours .card:hover img,
.grid-colours a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}

@media screen and (max-width: 1440px){
    .grid-colours .card, 
    .grid-colours .card img {
        max-width: calc(var(--one-sixth-max-width));
    }
}
@media screen and (max-width: 1200px){
    .grid-colours .card, 
    .grid-colours .card img {
       /* max-width: calc(var(--one-fourth-max-width)); */
         /* min-height: calc(var(--one-third-max-width) - (1rem)); */
    }
}
@media screen and (max-width: 1080px){
    .grid-colours .card, 
    .grid-colours .card img {
        max-width: calc(var(--one-qtr-max-width));
        /* min-height: calc(var(--one-third-max-width) - (2.5vw)); */
    }
}
@media screen and (max-width: 660px){
    .grid-colours .card, 
    .grid-colours .card img {
        /* max-width: calc(var(--one-half-max-width) - (2vw));
        min-height: calc(var(--one-half-max-width) - (2vw)); */
    }
}

.grid-colours .card-content {
    align-items: flex-start;
    padding: 0;
    padding-top: var(--gap-sm);
}

.grid-colours h3 {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    font-family: var(--base-font-family);
    font-size: var(--font-size-grid-title);
}


.grid-colours p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* --------------------------------- */
/* COLLECTION */

.grid-collection .row {
    max-width: var(--column-width-xs);
}

.grid-collection .column {
    gap: var(--gap);
    max-width: var(--column-width-xs);
}

.grid-collection .grid-col.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap) var(--gap-xs);
}
@media screen and (max-width: 1200px) {
    .grid-collection .grid-col.column {
        gap: var(--gap-xs);
    }
}


@media screen and (max-width: 1200px) {
    .grid-collection .grid-col.column {
        width: 100%;
        max-width: unset;
    }
}
.grid-collection .card {
    width: 100%;
    max-width: calc(var(--one-third-max-width-smgap));
    overflow: hidden;
    align-items: flex-start;
}


.grid-collection a.card_link[href*="uncategorized"] {
    display: none;
}

.grid-collection a:hover .card-img  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-collection .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
    aspect-ratio: 3 / 2;
    /* A4 */
}

/* .grid-collection .card:hover img, */
.grid-collection a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}

/* .grid-collection .card img::after, */
/* .grid-collection a .card img::after,  */
/* .grid-collection .card .card-image::after, */
.grid-collection a .card .card-image::after {
    content: '';
    /* width: 100%; */
    max-width: calc(var(--one-third-max-width-smgap));
    height: 100%;
    max-height: calc(var(--one-third-max-width-smgap)* 2 / 3);
    aspect-ratio: 3 / 2;
    /* overflow-y: hidden; */
    position: absolute;
    z-index: 55555;
    top: 0;
    left: 0;
    /* background-color:blueviolet; */
    display: block;
    opacity: 0;
    transition: var(--transition);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: blueviolet; */
    margin-bottom: 10px;
}

@media screen and (max-width: 1080px) {
    /* .grid-collection .card .card-image::after,  */
    .grid-collection a .card .card-image::after {
        max-width: var(--one-half-max-width-smgap);
        max-height: calc(var(--one-half-max-width-smgap)* 2 / 3);
    }
}

/*
.grid-collection a:hover .card img::after, 
 */

.grid-collection a .card:hover .card-image::after {
    height: 100%;
    opacity: 1;
    background-image: url(../assets/images/placeholder.jpg);
    /* replace inline */
}

@media screen and (max-width: 1080px){
    .grid-collection .card, 
    .grid-collection .card img {
        max-width: var(--one-half-max-width-smgap);
    }
}
@media screen and (max-width: 880px){
    .grid-collection .card, 
    .grid-collection .card img {
        width: var(--column-width-xs);
        max-width: unset ;
    }
}

.grid-collection .card-content {
    align-items: flex-start;
    padding: 0;
    padding-top: var(--gap-sm);
    gap: 0;
    margin-bottom: var(--gap-sm);
}

.grid-collection h3 {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    font-family: var(--base-font-family);
    font-size: var(--font-size-grid-title);
    font-weight: var(--base-font-weight);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.grid-collection.archive h3 {
    font-family: var(--heading-serif);
    font-size: var(--font-size-h3);
    font-weight: var(--serif-font-weight);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.grid-collection p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* --------------------------------- */
/* PROJECTS */

.grid-projects .row {
    max-width: var(--max-col-width);
}

.grid-projects .column,
.grid-projects .grid-col.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-large) ;
}
@media screen and (max-width: 1200px) {
    .grid-projects .column,
    .grid-projects .grid-col.column {
        /* gap: var(--gap-xs); */
    }
}



@media screen and (max-width: 1200px) {
    .grid-projects .grid-col.column {
        width: 100%;
        max-width: unset;
    }
}
.grid-projects .card {
    width: 100%;
    max-width: calc(var(--one-third-max-width));
    overflow: hidden;
}

.grid-projects a:hover .card-img  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-projects .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
    object-position: bottom;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
    aspect-ratio: 3 / 2;
    /* A4 */
}

.grid-projects .card,
.grid-projects .card img {
    min-width: var(--one-third-max-width);
}

.grid-projects .card:hover img,
.grid-projects a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}

@media screen and (max-width: 1080px){
    .grid-projects .card, 
    .grid-projects .card img {
        max-width: var(--one-half-max-width);
    }
}
@media screen and (max-width: 880px){
    .grid-projects .card, 
    .grid-projects .card img {
        width: var(--max-col-width);
        max-width: unset ;
    }
}

.grid-projects .card-content {
    align-items: flex-start;
    padding: 0;
    padding-top: var(--gap);
    gap: var(--gap-sm);
}

.grid-projects h3 {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    font-family: var(--base-font-family);
    font-size: var(--font-size-grid-title);
    font-weight: var(--base-font-weight);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.grid-projects.archive h3 {
    font-family: var(--heading-serif);
    font-size: var(--font-size-h3);
    font-weight: var(--serif-font-weight);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.grid-projects.archive h3.subtitle {
    font-family: var(--base-font-family);
    font-size: var(--font-size-base) !important;
    font-weight: var(--base-font-weight);
}


.grid-projects p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
