/* flickity carousel */


/* ----------------------- */
/* CAROUSEL */

.carousel_sect {
    gap:var(--gap-sm);
}

.carousel {
    width: 100%;
}
.projects-sect .carousel {
    width: calc(var(--one-third-max-width));
}
@media screen and (max-width: 880px) {
    .projects-sect .carousel {
        width: 100%;
    }
}


.flickity.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


/* ----------------------- */
/* CELL */

.range .carousel-cell {
    width: calc(var(--one-third-max-width));
}

.range .carousel-cell:not(:last-of-type) {
    margin-right: var(--gap-large);
}
/* .range .carousel-cell:last-of-type {
    width: calc(var(--one-third-max-width) + 2vw);
    max-width: unset;
} */


@media screen and (max-width: 1440px){
    .range .carousel-cell {
        width: calc(var(--one-third-max-width));
    }
   
}
@media screen and (max-width: 1200px){
    .range .carousel-cell {
        width: calc(var(--one-half-max-width));
    } 
    /* .range .carousel-cell:last-of-type {
        width: calc(var(--one-half-max-width) + 2vw);
        max-width: unset;
    }   */
}


@media screen and (max-width: 600px) {
    .range .row,
    .range .column,
    .range .carousel,
    .range .carousel-cell {
        width: 100%;
        max-width: 500px;
    }
}

.range .carousel .card img {
    transition: var(--transition-button);
    transform: scale(1);
}
.range .carousel .card:hover img {
    transform: scale(1.05);
}


/* ----------------------- */
/* BUTTONS */


.flickity-prev-next-button {
    background-color: var(--white);
    color: var(--primary);
    border: none;
    border-radius: 0;
    max-width: unset;
    min-width: unset;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    transition: var(--transition-button);
    padding: 0;
}

.flickity-prev-next-button .flickity-button-icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flickity-prev-next-button.next {
    right: -50px;
}
.flickity-prev-next-button.previous {
    left: -50px;
}

@media screen and (max-width: 880px) {
    .flickity-prev-next-button {
        width: 2rem;
        height: 2rem;
    }
    .flickity-prev-next-button.next {
        right: -2rem;
    }
    .flickity-prev-next-button.previous {
        left: -2rem;
    }
}


/* ----------------------- */
/* DOTS */

.flickity-page-dots {
    bottom: -8px;
}

.flickity-page-dots .dot {
    background-color: var(--primary);
}

/* ----------------------- */
