/* contact.css */

.form_group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.dropdown_group {
    width: 100%;
    margin-bottom: 0.5rem;
}

footer .form_group {
    min-width: 300px;
    max-width: 350px;
}

form {
    position: relative;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
    margin: 1rem 0 0 0;
}

footer form {
    max-width: 100%;
}

form input,
form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid #D0D5DD;
    margin-bottom: 10px;
    color: black;
    font-size: var(--font-size-form);
    font-weight: var(--form-font-weight);
}


form input[type="checkbox"],
form input[type="radio"] {
    width: max-content;
}
select {
    width: calc(100%);
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid #D0D5DD;
/*  */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml,<svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="arrow-down-blk" d="M5.91583 5.83166C5.83567 5.83166 5.74549 5.79158 5.68537 5.73146L1.01603 1.06212C0.955913 1.002 0.915833 0.911823 0.915833 0.831663C0.915833 0.751502 0.955913 0.661322 1.01603 0.601202L1.51704 0.1002C1.57716 0.0400798 1.65732 -4.04703e-07 1.7475 -4.00761e-07C1.82766 -3.97257e-07 1.91784 0.0400798 1.97796 0.1002L5.91583 4.03808L9.85371 0.1002C9.91383 0.0400801 10.004 -3.98571e-08 10.0842 -3.63532e-08C10.1643 -3.28493e-08 10.2545 0.0400801 10.3146 0.1002L10.8156 0.601202C10.8758 0.661323 10.9158 0.751503 10.9158 0.831663C10.9158 0.911823 10.8758 1.002 10.8156 1.06212L6.14629 5.73146C6.08617 5.79158 5.99599 5.83166 5.91583 5.83166Z" fill="%23312A2A"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) 50%;
    background-size: 0.8rem;
    font-size: var(--font-size-form);
}

select:focus {
    outline: none;
}
select:focus-visible {
    outline: 1px solid rgba(var(--secondary-rgb), 0.3); /* That'll show 'em */
}

.shout_banner select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid #D0D5DD;
    min-width: 150px ;
}

form textarea,
.wpcf7-form textarea{ 
    /* width: 100% !important; */
    height:30px;
}

form input:focus,
form textarea:focus {
    outline: 1px solid rgba(var(--secondary-rgb), 0.3);
}

form input:not([type="submit"]) {
    font-size: 1rem;
}

form label {
    font-size: 0.8rem;
    width: 100%;
}

form button[type="submit"],
input[type="submit"] {
    margin-top: 1rem;
}



[type="checkbox"] + span {
    font-size: 0.8rem;
    display: block;
}

[for=consent], [name=consent] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    margin-bottom: 2rem;
}

.checkbox_group,
.form_chckbx_grp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
}
.checkbox_group .wpcf7-list-item, 
.form_chckbx_grp .wpcf7-list-item {
    margin-left: 0;
}

.form_chckbx_grp label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
}
.checkbox_group label span {
    font-size: 0.8rem;
    display: inline-block;
} 


:placeholder-shown,
::placeholder,
input::placeholder,
form input::placeholder,
form textarea::placeholder {
    /* font-weight: var(--form-font-weight); */
    color: #667085;
    font-size: var(--font-size-form);
}

/* specific forms */

/* ------------------------------------------- */
/* professionals */



/* ------------------------------------------- */
/* professionals */

.enquiry_form form,
#enquiry_form form,
.contact_form form,
#contact_form form,
.professionals_form form,
#professionals_form form {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    gap: var(--gap-sm);
    /* min-width: 580px; */
    max-height: fit-content;
}

@media screen and (max-width: 880px) {
    .enquiry_form form,
    #enquiry_form form,
    .contact_form form,
    #contact_form form,
    .professionals_form form,
    #professionals_form form {
        min-width: 90vw;
        width: 100%
    }
}

.enquiry_form input[type="submit"],
#enquiry_form input[type="submit"],
.enquiry_form input[type="submit"],
.enquiry_form button[type="submit"] {
    /* max-height: fit-content;
    max-height: -moz-fit-content; */
    margin-top: 0;
}
.contact_form input[type="submit"],
#contact_form input[type="submit"],
.professionals_form input[type="submit"],
#professionals_form input[type="submit"],
footer form button[type="submit"] {
    margin-top: 0;
}

#enquiry_form label span {
}


/* ------------------------- */

.contact-info {
    padding: var(--gutter);
}
.contact-info .row {
    max-width: 900px;
    gap: var(--gap);
    justify-content: center;
}

.contact-info .col {
    align-items: flex-start;
    gap: var(--gap);
}
@media screen and (max-width: 880px) {
    .contact-info .col {
        align-items: flex-start;
    }
    
}

h2.intro-title {
    font-size: var(--font-size-lg);
    font-weight: var(--heading-font-weight);
    margin-bottom: 0;
}

.contact-info h4 {
    font-weight: var(--heading-font-weight);
    text-transform: uppercase;
}
.contact-info h5 {
    font-weight: var(--heading-font-weight);
    margin-bottom: 0;
}

.contact-info h4,
.contact-info p,
.contact-info a {
    font-size: var(--font-size-lg);
    margin: 0;
}

.contact-info p,
.contact-info a {
    font-weight: var(--base-font-weight);
}

.contact-info p.intro {
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);

} 

#headquarters, #showrooms, #salesoffices {
    /* min-width: 200px; */
    width: 100%;
    /* max-width: 50%; */
    gap: var(--gap);
    align-items: flex-start;
}
#headquarters {
    /* width: calc(100% *1/3); */
}
#showrooms {
    /* width: calc(100% *2/3); */
}
@media screen and (max-width: 880px) {
    #headquarters, #showrooms, #salesoffices {
        flex-direction: column;
        width: 100%;
    }
    
}


.listing {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: var(--gap);
    width: 100%;
    /* max-width: 200px; */
    align-items: flex-start;
    margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
    .listing {
        flex-direction: column;
        width: 100%;
    }
}

#salesoffices .listing,
#globalpartners .listing {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: flex-start;
    justify-content: flex-start;
}   

[class*="_address"], 
.showroom_address, 
.salesoffice_address,
.globalpartners_address {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap); */
    width: 100%;
    min-width: 200px;
    align-items: flex-start;
    font-size: var(--font-size-lg);
}

.salesoffice_address,
.globalpartners_address {
    width:calc(100/3* 1% - (var(--gap)*2/3 ));
}
@media screen and (max-width: 880px) {
    .salesoffice_address,
    .globalpartners_address {
        width:calc(100/2* 1% - (var(--gap)*1/2 ));
    } 
}
@media screen and (max-width: 600px) {
    .salesoffice_address,
    .globalpartners_address {
        width:100%;
    } 
    
}





/* ------------------------------------------- */
/* LOCATIONS */

#location-partners .content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    align-items: center;
    font-size: var(--font-size-lg);
}
#location-partners .content-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    align-items: center;
    font-size: var(--font-size-lg);
}


.partner_group, .showroom_group, .offices_group {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    margin-bottom: 1rem;
}
@media screen and (max-width: 880px) {
    .partner_group, .showroom_group, .offices_group {
        flex-direction: column;
    }   
}

.country {
    width: 30%;
    min-width: 280px;
    text-transform: uppercase;
    font-weight: 500;
}

.partners, .showrooms, .offices {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-xs); */
    gap: 0;
    min-width: 580px;
}
.offices {
    gap: var(--gap-xs)
}


.partner, .office, .showroom {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    justify-content: space-between;
}
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-xs);
}

.company {
    width: 50%;
    min-width: none;
}   

.location {
    font-weight: 300;
}

.phone-link,
.content a.phone-link,
.email-link,
.content a.email-link {
    font-weight: 400;
    color: var(--primary);
    text-decoration: none;
    text-underline-offset: 3px;
    transition: var(--transition-button);
    text-decoration-color: var(--tertiary);

    &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: var(--primary);
    }
}
.office-link {}

.showroom-link, 
.office-link {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
    &:hover {
        background-color: var(--white);
        border: 1px solid var(--primary);
        color: var(--primary);
    }
}