/* ----------------------- */
/* HEROS */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-large);
    width: 100%;
    /* min-height: 30vw; */
    /* min-height: 470px; */
    height: var(--hero-height);
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    /* padding: var(--gap-large); */
    box-sizing: border-box;
    max-width: unset;
    position: relative;
    padding: 0;
}
section.hero {
    background-position: right center;
    background-size: cover;
}


.post .hero,
body:not(.home) .hero {
    /* max-height: 30vh; */
    background-color: var(--secondary);
}

.hero-image img {
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: var(--max-width);
    object-fit: cover;
}

.hero img {
    width: 100%;
    height: auto;
    min-width: 100vw;
    object-fit: cover;
}

/* white horiz grad for text */

.white_grad:after {
    position: absolute;
    z-index: 11;
    height: 100vh;
    width: 70vw;
    content: '';
    left: 0;
    background-image: linear-gradient(91deg, rgba(255, 255, 255, 0.7), transparent);
}
/* white horiz grad for text */

.dark_grad:after, 
.dark_grad_right:after {
    position: absolute;
    z-index: 11;
    height: var(--hero-height);
    width: 70vw;
    content: '';
}
.dark_grad:after {
    left: 0;
    background-image: linear-gradient(91deg, rgba(0, 0, 0, 0.7), transparent);
}
.dark_grad_right:after {
    background-image: linear-gradient(-91deg, rgba(0, 0, 0, 0.7), transparent);
    right: 0;
}

.dark_grad .row,
.dark_grad_right .row {
    z-index: 1111;
}

@media screen and (max-width: 1080px) {
    .text_only.dark_grad:after,
    .text_only_right.dark_grad_right:after {
        height: 50vh;
        width: 100vw;
        bottom: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
    }
}
@media screen and (max-width: 1080px) {
    .dark_grad_right:after {
        height: 50vh;
        width: 100vw;
        bottom: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
    }
    .white_grad_right:after {
        height: 50vh;
        width: 100vw;
        bottom: 0;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), transparent);
    }
}

/* horiz grad for text */
body:not(.home) .hero::before {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    content: '';
    background-image: linear-gradient(90deg, rgba(var(--color-primary-rgb), 0.5), rgba(var(--color-primary-rgb), 0.0));
}
@media screen and (max-width: 1080px) {
    body:not(.home) .hero::before {
        width: 100%;
        background-image: linear-gradient(90deg, rgba(var(--color-primary-rgb), 0.5), rgba(var(--color-primary-rgb), 0.3));
    }
}
body.post .hero::before {
    all: unset;
}


.hero.captioned::after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    content: '';
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6));
}


.hero.captioned figcaption,
.hero div.caption_wrap {
    bottom: 18px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}

.hero .row {
    position: absolute;
    z-index: 1111;
}
@media screen and (max-width: 1080px) {
    .hero .row {
        bottom:10%
    }
}

@media screen and (max-width: 1540px) {
    .hero .column {
        max-width: calc(var(--max-col-width) - 5vw);
    }
}

@media screen and (max-width: 1440px) {
    .hero .column {
        max-width: var(--max-col-width);
    }
}
@media screen and (max-width: 1080px) {
    .hero .column, .hero .col {
        align-items: center;
    }
}

.hero h1 {
    /* backdrop-filter: drop-shadow(0px 0px 2rem rgba(var(--primary-rgb),0.8)); */
    text-shadow: 2px 2px 0px rgba(var(--primary-rgb),0.8);
    max-width: 10ch;
    /* text-align: left; */
}

.hero h1.subtitle {
    max-width: unset;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: var(--gap-sm);
    min-width: 40vw;
}

/* ----------------------- */
/* home */

section.home_hero .hero-content { 
    z-index: 2;
    /*  */
    width: 100%;
    max-width: 100%;
    padding: 0 var(--gap-large);
    box-sizing: border-box;
    content: url(../assets/heros/step-inside-the-house-of-apaiser.svg);
    width: 60vh;
}

section.home_hero .hero-content h1 { 
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* ----------------------- */
/* about */

section.about_hero  {
    background-size: cover;
    background-position: 0% center;
    background-repeat: no-repeat;
}

section.about_hero .hero-content { 
    z-index: 2;
    width: 100%;
    max-width: 100%;
    padding: 0 var(--gap-large);
    box-sizing: border-box;
    content: url(../assets/heros/AboutUs_Step_inside_the_atelier.svg);
    width: 60vh;
}

section.about_hero .hero-content h1 { 
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* ----------------------- */
/* sustainability */

section.sustainability_hero  {
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

section.sustainability_hero .hero-content { 
    z-index: 2;
    width: 100%;
    max-width: 100%;
    padding: 0 var(--gap-large);
    box-sizing: border-box;
    content: url(../assets/heros/sustainability_crafted.svg);
    width: 60vh;
}

section.sustainability_hero .hero-content h1 { 
    display: none;
    visibility: hidden;
    opacity: 0;
}

/*  */
/* ----------------------- */
/* sustainability_feature */

section.sustainability_feature  {
    background-size: cover;
    background-position: 0% center;
    background-repeat: no-repeat;
}

.sustainability_feature .hero-content { 
    z-index: 2;
    width: 100%;
    max-width: 100%;
    padding: 0 var(--gap-large);
    box-sizing: border-box;
    content: url(../assets/sustainability/designed_in_australia.svg);
    width: 60vh;
}
section.sustainability_feature .hero-content h1 { 
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* projects */

section.projects_hero  {
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

/* ----------------------- */
/* customisation */

section.customisation_hero  {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.customisation_hero .hero-content { 
    z-index: 2;
    /*  */
    width: 100%;
    max-width: 100%;
    padding: 0 var(--gap-large);
    box-sizing: border-box;
    content: url(../assets/customisation/customisation.svg);
    width: 60vh;
}

.customisation .text_only .hero-content h1 { 
    
    max-width: 12ch;
}

/* ----------------------- */
/* text_only_right */

.text_only_right .col {
    align-items: flex-end;
}

@media screen and (max-width: 1080px) {
    .text_only_right .col {
        align-items: center;
    }
}