/* popup.css */

.search-pop-up {
    /* display: none; */
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: calc(var(--header-height));
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(var(--primary-rgb), 0.05);
    /* z-index: -1000; */
    z-index: 9999;
    overflow: auto;
    /* transform: translate(0,-20%); */
    backdrop-filter: blur(5px);
    /*  */
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    /* padding: 1rem; */
    box-sizing: border-box;
    transition: var(--transition-slow);
/*     
    transition: height var(--transition-slow-part), 
                opacity var(--transition-slow-part); 
*/
}
.search-pop-up {
    overflow-y: scroll;

}

.search-pop-up.has-popped {
    transition: var(--transition-slow);
    visibility: visible;
    opacity: 1;
    /* transform: translate(0, 0); */
    height: 100%;
}

.search-pop-up_wrapper {
    background-color: white;
    /* border-radius: 30px; */
    /* padding: 2rem; */
    /* max-width: calc(var(--max-width) * 0.7); */
    /* margin: auto; */
    position: relative;
    width: 100%;
    
}

@media screen and (max-width: 1200px) {
    .search-pop-up_wrapper {
        /* max-width: calc(var(--max-width) * 0.9); */
    }
}

@media screen and (max-width: 480px) {
    .search-pop-up_wrapper {
        /* max-width: calc(var(--max-width)); */
    }
}

.search-content {
    padding: 1rem;
    padding-top: 0;
    padding-left: var(--nav-padding);
    margin-left: 2rem;
    box-sizing: border-box;
    width: calc(100% - var(--nav-padding));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: var(--gap);
}
@media screen and (max-width: 1200px) {
    .search-content {
        padding-left: var(--gap-large);
        margin-left: 0;
    }
}

.search-details {}

.search-heading {
    display: inline-flex;
    gap: var(--gap);
    margin-bottom: var(--gap-sm);
}
.search-subtitle, 
.search-clear {
    font-family: var(--heading-font-family);
    font-size: var(--font-size-md);
    font-weight: var(--base-font-weight);
}

.search-clear {
    cursor: pointer;
    text-underline-offset: 0.2rem;
    color: rgba(var(--primary-rgb), 0.6);
    transition: var(--transition-button);
}

.search-clear:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}


.form-wrapper p {
    margin: 0;
    font-size: 1rem;
}



/* ----------------------- */
/* FILTERS */

.search-content .search-filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.search-filters ul.search-list {
    margin-left: 0;
    width: fit-content;
}

.pre-filter {
    font-size: var(--font-size-lg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    /* gap: var(--gap); */
    position: relative;
    width: auto;
    /* padding-right: 1rem; */
    &:after {
        content: url(../assets/icons/close-thin.svg);
        width: 16px;
        /* height: 16px; */
        padding: 0.5rem;
        /* margin: 0.5rem; */
        position: relative;
        
        transform: translateY(0) rotate(0deg);
        transform-origin: center center;
        display: inline;
        transition: var(--transition-button); 
        opacity: 1;   
        cursor: pointer;
    } 
    &:hover {
        &::after {
            transform: translate(-5%, 2% )rotate(180deg) ;
        }
    }
    
}

.pre-filter a {
    font-weight: 500;
}

/* ----------------------- */
/* FORM */


.search-content form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: no-wrap;
}

.search-content form input,
form.search input {
    font-family: var(--heading-serif);
    font-size: var(--font-size-menu-title);
    font-weight: var(--serif-font-weight);
    line-height: var(--heading-line-height);
    letter-spacing: 0;
    text-transform: capitalize;
    color: var(--primary);
    padding-left: 0;
    padding-bottom: 1rem;
    padding-right: 3rem;
    /* padding: 1rem 1rem 1rem 0; */
    border: none;
    border-bottom: solid 1px black;
    min-width: 40vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.search-content form input:active {
    border: none;
    border-bottom: solid 2px black;
}

.search-content form input::placeholder {
    color: var(--primary);
    font-size: var(--font-size-menu-title);
    opacity: 1; /* Firefox */
}
  
.search-content form input::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--primary);
}

.search-content form .form_group {

}

.search button {
    visibility: hidden;
    opacity: 0;
    cursor: not-allowed;
    /*  */
    border-width: 1px;
    font-size: 1rem;
    font-weight: var(--med-font-weight);
    line-height: 1;
    padding: 0.635rem 2rem ;
    border-radius: 0;
    position: relative;
    transition: var(--transition-button);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    word-break: keep-all;    
    min-width: fit-content;
    max-width: max-content;
    text-transform: uppercase;
    letter-spacing: var(--letterspacing-button);padding-right: 3rem;
    
    &:hover {
        background-color: var(--primary);
        border: 1px solid var(--primary);
        color: var(--white);
        
    }
}
form.search input:focus, 
form.search input:active, 
form.search input:focus-within {
    outline:none;
    background: rgba(var(--primary-rgb), 0.05);
    border-bottom: 2px solid var(--primary);
}
form.search input:focus::placeholder {
    color: rgba(var(--primary-rgb), 0.9);;
}
form.search input:-webkit-autofill {
    background: rgba(var(--primary-rgb), 0.05);
}


/* ----------------------- */
/* add class with in-focus-js */

button.in-focus {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

/* ----------------------- */
/* CLOSE */

#search .search-close {
    position: absolute;
    z-index: 222;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 1.2; 
    padding: 1px;
    box-sizing: border-box;
}
.close:hover {
    /* background-color: var(--default); */
}
.close svg {
    transition: var(--transition);
    transform-origin: center;
}

.close:hover svg {
    transform: rotate(180deg);
}
