/* search-results.css */


:root {
    --max-width-new: 100vw;
    --results-col: 300px;
    --results-col-mw: calc(var(--max-width-new) - var(--results-col) - (var(--gap)* (2)));
    --results-cards-mw: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap) * (4))) / 3);
    --results-horiz-cards-mw: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap) * (3))) / 2);
    --results-horiz-img-mw: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap) * (3))) / 4);
}
@media screen and (max-width: 1200px) {
    :root {
        /* --results-col: 200px; */
        /* --results-col-mw: calc(var(--max-width-new) - var(--results-col) - (var(--gap) * (1))); */
        /* --results-cards-mw: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap-xs) * (1)))); */
        --results-cards-mw: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap) * (3))) / 2);
        --results-horiz-img-mw: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap) * (2))) / 4);

    }    
}
@media screen and (max-width: 1080px) {
    :root {
        /* --results-col: 200px; */
        /* --results-col-mw: calc(var(--max-width-new) - var(--results-col) - (var(--gap-xs) * (1))); */
        /* --results-cards-mw: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap-xs) * (1/3))));
        --results-horiz-cards-mw: 95vw; */
    }    
}

@media screen and (max-width: 880px) {
    :root {
        /* --results-col: 200px; */
        /* --results-col-mw: calc(var(--max-width-new) - (var(--gap-xs) * (1))); */
        --results-cards-mw: calc(((var(--max-width-new) - (var(--gap-xs) * (1/3)))));
        --results-horiz-cards-mw: 90vw;
    }    
}

@media screen and (max-width: 880px) {
    :root {
        --results-col: 100%;
        --results-col-mw: 100%;
        --results-cards-mw: 90vw;
        
    }
    
}

.filter_wrap {
    width: 100%;
    max-width: calc(100vw - (var(--gap)*2));
    /* margin-left: var(--gap-large); */
    padding: 0 var(--gap) ;
}

.filter {
    width: calc(100% - 20px);
    max-width: calc(var(--max-width-new) - (var(--gap)*2));
}

.filter form {
    max-width: unset;
}

/*  */

@media screen and (max-width: 880px) {
    #refine-search  {
        display: none;
        align-content: flex-start;
    }
    #refine-search.show-filter {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}

#refine input#s {
    width: 205px;
}

.search-results-tab-wrap {}

.search-results-tab-wrap a.filter-toggle {
    display: none;
}
@media screen and (max-width: 880px) {
    .search-results-tab-wrap a.filter-toggle {
        display: block;
    }
}


.search-results-tab-filters-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    margin-top: 0;
}

/*  */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: var(--gap-xs) var(--gap) var(--gap-xs) 0;
    width: 100%;
    max-width: calc(var(--results-col) - var(--gap-xs));
    box-sizing: border-box;
    position: absolute;
    left: var(--gap);
    /* padding-right: var(--gap); */
}
@media screen and (max-width: 880px) {
    .sidebar {
        max-width: unset;
        position: relative;
        padding: 0;
        left: 0;
    }
}

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-xs);
}

.facet-label {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

[class*="-toggle"] {
    font-weight: 400;
    opacity: 0.7;
}

.search-results .grid-results {
    padding-left: var(--results-col);
}
@media screen and (max-width: 880px) {
    .search-results .grid-results {
        padding-left: 0;
        max-width: calc(var(--max-width-new) - (var(--gap)*2));
    }
}

.product-description,
.article-description {
    margin-top: 0.5rem;
    font-size: var(--font-size-sm);
    line-height: var(--line-height);
}

input.search-icon,
.search-icon,
form.searchform input[type="submit"] {
    padding: 0.5rem 1rem;
    width: 4rem;
    height: 2.5rem;
    border-radius: 8px;
    position: relative;
    margin: 0 !important;
    transition: var(--transition-button);
    background-color: rgba(var(--primary-rgb), 0.1);
    border: 1px solid rgba(var(--primary-rgb), 0.1);
    background-image: url(../assets/icons/search-blk.svg);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent; 
    font-size: 2px;
    &:after {
        /* content: "url(../assets/icons/search-blk.svg)"; */
        width: 16px;
        /* height: 16px; */
        /* padding: 0.5rem; */
        /* margin: 0.5rem; */
        position: relative;
        transform: translateY(0) rotate(0deg);
        transform-origin: center center;
        display: inline;
        transition: var(--transition-button);
        opacity: 1;
        cursor: pointer;
    }
    
    &:hover {
        /* background-color: var(--gray-100); */
        background-color: rgba(var(--primary-rgb), 0.1);
        border: 1px solid rgba(var(--primary-rgb), 0.0);
        
        transform: none;
        &:after {
            /*  */
            /* backdrop-filter: drop-shadow(0px 4px 4px var(--gray-100)); */
        }
    }
}

/* -- */
/* refine */




@media screen and (max-width: 880px) {
    #refine {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: calc(var(--max-width-new) -(var(--gap)* 2)); 
        max-width: unset;
    }
}

@media screen and (max-width: 880px) {

    #refine [class*="filter"] div {
        /* visibility: hidden;
        height: 0; */
    }

}


/* -- */
/* refine-search */


input[class*="-icon"],
form.searchform input[type="submit"] {
    display:block;
}

.refine-search, 
#refine-search {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;
}

@media screen and (max-width: 880px) {
    .refine-search, 
    #refine-search {
        /* min-width: 90vw; */
        /* width: 100%; */
        display: none;
        visibility: hidden;
        opacity: 0;
        /*  */
        width: 100vw;
        height: 100vh;
        max-width: calc(100vw - (var(--gap)*2));
        background-color: white;
        padding: var(--gap);
        /* padding-left: 0; */
        flex-direction: unset;
        flex-wrap: wrap;
        gap: var(--gap-large);
        /*  */
        position: absolute;
        left: calc(var(--gap)* -1);
        z-index: 1111;

    }
}
#refine-search .show-filter {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.refine-search input[type="submit"], 
#refine-search input[type="submit"] {
    margin-top: 1rem;
}


#refine-search .close-filter {
    display: none;
}
@media screen and (max-width: 880px) {
    #refine-search .close-filter {
        display: block;
        position: absolute;
        top: 0;
        right: var(--gap);
        padding: 1rem;
        cursor: pointer;
    }
}


#refine .facetwp-facet,
.facetwp-facet {
    margin-bottom: 1rem;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem; */
}
@media screen and (max-width: 880px) {
    #refine .facetwp-facet,
    .facetwp-facet {
        /* flex-direction: row;
        flex-wrap: wrap; */
    }
}

/* top filter */
#post_type_filter .facetwp-facet {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
@media screen and (max-width: 880px) {
    #post_type_filter .facetwp-facet {
        /* flex-direction: row;
        flex-wrap: wrap; */
    }
}

#refine .facetwp-facet.facetwp-type-slider {
    margin-bottom: 0;
}

.search-results .facetwp-checkbox,
#refine .facetwp-checkbox,
.facetwp-checkbox {
    background: none;
    /* background-size: 14px 14px; */
    margin-bottom: 0;
    padding-left: 0; 
    gap: 0.125rem;
    display: flex;
}

.facetwp-counter {
    /* font-size: 0.8rem; */
    /* color: var(--gray-500); */
    opacity: 0.7;
    font-weight: 300;
}

.facetwp-checkbox.checked {
    background-image: none;
}

/* -- */
/* --------------------------------- */
/* SEARCH RESULTS */


.grid-results {
    max-width: calc(var(--results-col-mw) + var(--results-col));
    min-height: 825px;
    padding-left: var(--results-col);
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0;
    gap: var(--gap);
}
@media screen and (max-width: 880px) {
    .grid-results {
        min-height:unset;
        margin-left: 0;
        align-items: flex-start;
    }
    
}
.grid-results .row {
    max-width: 100%;
    max-width: var(--results-col-mw);
}
@media screen and (max-width: 880px) {
    .grid-results .row {
        max-width: 100%;
    }
}

.grid-results .column {
    gap: var(--gap);
    max-width: 100%;
    max-width: var(--results-col-mw);
}

.grid-results .grid-col.column,
.grid-results .grid-col-horiz.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.grid-results .grid-col.column{
    /* gap: var(--gap) var(--gap-xs); */
    gap: var(--gap);
}

.grid-results .grid-col-horiz.column {
    gap: var(--gap);
}

@media screen and (max-width: 1200px) {
    .grid-results .grid-col.column,
    .grid-results .grid-col-horiz.column {
        gap: var(--gap);
        width: 100%;
        max-width: unset;
    }
}



.grid-results .card {
    width: 100%;
    /* max-width: calc(var(--one-third-max-width-smgap)); */
    /* max-width: calc(((var(--max-width-new) - var(--results-col)) - (var(--gap) * (3/2))) / 3); */
    max-width: var(--results-cards-mw);
    overflow: hidden;
    align-items: flex-start;
}

.grid-col-horiz .card {
    flex-direction: row;
    gap: var(--gap-xs);
    max-width: var(--results-horiz-cards-mw);
}

.grid-results a:hover .card-img  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-results .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
    aspect-ratio: 3 / 2;
    /* A4 */
}
.grid-col-horiz .card-image,
.grid-col-horiz .card img {
    width: 100%;
    /* aspect-ratio: 1 / 1; */
    min-width: calc(var(--results-horiz-img-mw));
    max-width: calc(var(--results-horiz-img-mw))
}
@media screen and (max-width: 1080px){
    .grid-col-horiz .card-image,
    .grid-col-horiz .card img {
        /* max-width: 35vw; */
    }
}
@media screen and (max-width: 880px){
    .grid-col-horiz .card-image,
    .grid-col-horiz .card img {
        /* width: 35vw; */
        max-width: 35vw;
    }
}

.grid-results .card:hover img,
.grid-results a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}

@media screen and (max-width: 1080px){
    .grid-results .card, 
    .grid-results .card img {
        /* max-width: var(--results-cards-mw); */
        /* max-width: calc(var(--results-horiz-img-mw)) */
    }
}
@media screen and (max-width: 880px){
    .grid-results .card, 
    .grid-results .card img {
        max-width: var(--results-cards-mw);
        max-width: unset ;
    }
}

.search-results .grid-results .card-content {
    padding: var(--gap-sm) 0;
    gap: var(--gap-sm);
}
.search-results .grid-results #articles .card-content {
    padding: 0;
}

.search-results .grid-col-horiz .card-content {
    align-items: flex-start;
    padding: 0;
    /* padding-top: var(--gap-sm); */
}

.grid-results h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    font-family: var(--base-font-family);
    font-size: var(--font-size-grid-title);
    font-weight: var(--base-font-weight);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.grid-results #articles h3,
.grid-results #post h3,
.grid-results #projects h3 {
    text-transform: uppercase;
}


.grid-results.archive h3 {
    font-family: var(--heading-serif);
    font-size: var(--font-size-h3);
    font-weight: var(--serif-font-weight);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.grid-results p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-top: 0;
}

.grid-results button {
    margin-top: 0;
    padding: 0.25rem 0.25rem 0.25rem 0;
}

/* filter tabs */

.search-results-tab-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--gap);
    margin-top: 0;
}

.search-results-tab-item {
    font-weight: var(--base-font-weight) !important;
    font-size: var(--font-size-sm-link);
    padding: 0;
    border: none;
    background: none;
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: unset;
    cursor: pointer;
    margin-top: 0.5rem;
    text-underline-offset: 3px;
    position: relative;
    transform: var(--transition-button);
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    
    
    &:hover {
        color: var(--primary);
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: var(--tertiary);
        
    }
    &.active {
        color: var(--primary);
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: var(--tertiary);
    }
}

.search-results-tab-item span {
    opacity: 0.7;
    font-weight: 300;
}

a.search-results-tab-item,
button.search-results-tab-item {
    margin-top: 1rem;
}

form .submit-wrapper input[type="submit"],
form.searchform input[type="submit"] {
    margin-top: 0;
    margin-bottom: 0;
}

/* no-UI */

.noUi-handle {
    border-radius: 50%
}

