/* specific.css */
/*  */

/* 

- specific sections outside of generic design

*/


/* ----------------------- */
/* patterns */

.pattern {
    background-image: url(../images/pattern.png);
    background-size: 7.5%;
    background-repeat: repeat;
}


/* ----------------------- */
/* full-width-bg */

.full-width-bg {
    padding: 0;
    width: var(--max-width);
    max-width: var(--max-width);
}

.full-width-bg .cell_wrap { position: relative; }
.cell_wrap .row { position: absolute; top:50%; left: var(--gutter); transform: translateY(-50%);}



/* ----------------------- */
/* twin-block */

.twin-block .img_wrap img {
    width: calc(var(--max-width) / 2);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
}
@media screen and (max-width: 880px) {
    .twin-block .img_wrap img {
        width: 100%;
        min-width: 100vw;
    }
}



/* ---------------------------- */
/* overflow images section */

.overflow_section { }

.overflow_section .row {
    gap: var(--gutter)
}
.overflow_section .row:not(.column-reverse-mob) .column:not(.four-tenths) {
    align-items: center;
    padding-left: var(--gutter);
    /* justify-content: flex-start; */
    justify-content: center;
    /*  */
    max-width: 40vw;
    /* margin-right: 10vw; */
    align-items: flex-start;
}
@media screen {
    .overflow_section .row:not(.column-reverse-mob) .column:not(.four-tenths) {
        max-width: unset;
    }
}
.overflow_section .row:not(.column-reverse-mob) .column:not(.four-tenths) .card {

    max-width: 600px;
}

.overflow_section .column-reverse-mob .column:first-of-type,
.overflow_section .column-reverse-mob .column-text {
    max-width: 60vw;
    justify-content: flex-start;
    padding-left: var(--gutter);

}

.overflow_section .column.four-tenths,
.overflow_section .column-reverse-mob .column:last-of-type {
    max-width: 40vw;
}

@media screen and (max-width: 880px) {
    .overflow_section .column,
    .overflow_section .column-reverse-mob .column:first-of-type,
    .overflow_section .column-reverse-mob .column:last-of-type {
        max-width: var(--max-col-width);
    }
}
.overflow_section .img_wrap {
    width: 100%;
    height: 80vh;
    object-fit:cover;
}

@media screen and (max-width: 880px) {
    .overflow_section .img_wrap {
        width: var(--max-col-width);
    }
}

.overflow_section img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.top_overflow.img_wrap {
    margin-top: -25vw;
}

@media screen and (max-width: 880px) {
    .top_overflow.img_wrap {
        margin-top: 0;
    }
}


/* home collections */

.half_panel-hero,
.collections-hero {
    padding: 0;
    justify-content: flex-start;
}
.half_panel-hero .row,
.collections-hero .row {
    align-items: center;
    max-width: unset;
    gap: 0;
    position: relative;
}
.half_panel-hero .column,
.collections-hero .column {
    align-items: center;
    width: 100%;
    height: 100%;
}
.half_panel-hero .column,
.collections-hero .column {
    background-size: cover;
    background-position: center center;
    height: var(--hero-height);
    /* min-height: 50vw; */
    min-height: calc(var(--hero-height)) - (var(--gutter)*2);
    /* padding: var(--gap); */
}
@media screen and (max-width: 1080px) {
    .half_panel-hero .row {
        justify-content: center;
        height: var(--hero-height);
        width: 100vw;
    }
    .half_panel-hero .column.full-width-bg:first-of-type {
        max-width: calc(100% - (var(--gap)*2));
        height: calc((var(--hero-height)) - (var(--gutter)*2)/2);
        position: absolute;
        z-index: 11;
        /* left:var(--gutter); */
        top: var(--gutter);
        justify-content: flex-start;
    }
    .half_panel-hero .column.full-width-bg:last-of-type {
        width: 100vw;
        height:var(--hero-height);        
        justify-content: flex-end;
    }

    .half_panel-hero .column.full-width-bg:first-of-type .img_wrap,
    .half_panel-hero .column.full-width-bg:first-of-type .img_wrap img {
        width: 100%;
        height: 100%;
        max-height: calc((var(--hero-height) - (var(--gutter)*2))/2);
        max-width: calc((100vw - (var(--gutter)*2)));
        object-fit: cover;
        /* aspect-ratio: 1 / 1; */
    }
    
    
}
.half_panel-hero .column .card,
.collections-hero .column .card {    
    
    max-width: calc(50vw - (var(--gutter)*2));
    min-height: calc(var(--hero-height)) - (var(--gutter)*2);
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);

}
@media screen and (max-width: 1080px) {
    .collections-hero .column .card {
        max-width: calc(50vw - (var(--gap)*2));
    }
    .half_panel-hero .card {
        max-width: calc(50vw - (var(--gap)*2));
        max-height: calc((var(--hero-height) - (var(--gutter)*2))/2);
        margin-bottom: var(--gutter);
    }
}

@media screen and (max-width: 880px) {
    .half_panel-hero .full-width-bg .img_wrap,
    .half_panel-hero .full-width-bg .img_wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 880px) {
    .half_panel-hero .column:has(.card) {
        /* margin: 0vh auto 3rem; */
        box-sizing: border-box;
        /* width: calc(var(--max-width) - (var(--gutter)*2)); */
        z-index: 0;
    }
}

@media screen and (max-width: 1080px) {
    .half_panel-hero .column .card,
    .collections-hero .column .card {    
        /* max-width: calc(var(--max-width) * 8/10); */
        max-width: calc((100vw - (var(--gutter)*2)));
        height: 100%;
        aspect-ratio: unset;
    }
}

.half_panel-hero img {
    height: var(--hero-height);
    min-height: calc(var(--hero-height)) - (var(--gutter)*2);
    object-fit: cover;
}

.home .half_panel-hero img {
    object-position: bottom;
}


/*  */

/* featured hero section */

.featured-hero,
.customised-hero {
    padding: 0;
    justify-content: flex-start;
}
.featured-hero .row,
.customised-hero .row {
    align-items: center;
    max-width: unset;
    gap: 0;
}
.featured-hero .column,
.customised-hero .column {
    align-items: center;
    width: 100%;
    height: 100%;
}
.featured-hero .column,
.customised-hero .column {
    background-size: cover;
    background-position: center center;
    /* height: var(--hero-height);
    min-height: 50vw; */
    max-height: var(--hero-height);
    height: 50vw;
    /* padding: var(--gap); */
}
.featured-hero  .column .card,
.customised-hero .column .card {     
    max-width: calc(50vw - (var(--gutter)*2));
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    gap: var(--gap);
}
@media screen and (max-width: 1080px) {
    
    .featured-hero .column .card,
    .customised-hero .column .card {
        max-width: calc(50vw - (var(--gap)*2));
        aspect-ratio:unset;
    }
}
@media screen and (max-width: 1080px) {
    .featured-hero .column.empty_column {
        display: none;
    }
}
@media screen and (max-width: 880px) {
    .featured-hero .column .card,
    .customised-hero .column .card {    
    
        max-width: var(--max-col-width);
        
    }
}

/* customisation general */


.journey .column:last-of-type {
    gap: var(--gap-large);
}

.journey .column .img_wrap {
    padding-bottom: 0;
    max-height: unset;
}

.journey .column .text_wrap .button-secondary {
    margin-top: 2rem;
}

.expression.half_panel-img_padding .column {
    /* align-items: flex-start; */
    justify-content: flex-start;
}

.expression.half_panel-img_padding .column:last-of-type {
    gap: 0;
    /* padding-top: 0; */
}

.palettes {}

.palettes :not(.primary_bg).column .img_wrap img {
    max-height: var(--hero-height);
    object-fit: contain;
    background: #dad7d3;
}

.palettes .primary_bg {}

@media screen and (max-width: 880px) {
    .palettes .column,
    .palettes .primary_bg {
        max-height: unset;
        min-height: unset;
        height: unset;
    }
    .palettes .primary_bg {
        padding: var(--gap);
    }
}

.palettes .primary_bg .text_wrap {
    padding: var(--gap);
}
.palettes .text_wrap p {
    text-align: center;
}

.palettes .primary_bg .img_wrap img {
    width: 100%;
    max-width: 30vw;
    margin: 0 auto;
}

@media screen and (max-width: 880px) {
    .palettes .primary_bg .img_wrap img {
        max-width: 80vw;
    }
}

.palettes p {
    max-width: 45ch;
}

/*  */

.full-width-bg .img_wrap,
.full-width-bg .img_wrap img,
.half_panel-hero .full-width-bg .img_wrap,
.half_panel-hero .full-width-bg .img_wrap img,
.collections-hero .full-width-bg .img_wrap,
.collections-hero .full-width-bg .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-width-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* restricted width block quote section */

.restricted:has(blockquote) {
    background-color: var(--not-white);
    min-height: 70vh;
}
@media screen and (max-width: 1080px) {
    .restricted:has(blockquote) {
        height: auto;
        min-height: unset;
    }
}

.restricted:has(blockquote) .row {
    height: 100%;
}

.restricted:has(blockquote) .column:first-of-type {
    height: 100%;
    justify-content: flex-start;
}
.restricted:has(blockquote) .column:last-of-type {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.restricted:has(blockquote) .text_wrap p {
    font-size: var(--font-size-sm);
}

.restricted .column:last-of-type blockquote p {
    /* max-width: 600px; */
} 

/* ----------------------- */
/* DUO */

.plain.duo_section { 
    height: 100%; 
    min-height: calc(var(--hero-height));
}

.duo_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 2 / 3; */
    /* max-height: calc(var(--hero-height) - (var(--gutter)*2 )); */
    height: calc(var(--hero-height) - (var(--gutter)*2 ));
}
@media screen and (max-width: 1080px) {
    .duo_section img {
        height: 100%;
        aspect-ratio: 1 / 1;
    }
}

.duo_section .column {
    gap: 0;
    align-items: center;
    justify-content: center;
    height: calc(var(--hero-height) - (var(--gutter)*2));
}
.duo_section .column:last-of-type {
    /* max-width: 600px; */
    /* gap: 0; */
}
.duo_section .row {
    align-items: center;
}
@media screen and (max-width: 1080px) {
    .duo_section .row {
        flex-direction: column;
    }
}


.duo_section blockquote, 
.duo_section blockquote p,
.duo_section p,
.duo_section :not(blockquote) p {
    /* min-width: unset;
    width: 45vw;
    max-width: 650px; */
}

/* ----------------------- */
/* PLAIN (replace with half_panel) */

.plain .row {
    /* gap: calc(var(--gutter)*2); */
}

/* ----------------------- */
/* RANGE */

@media screen and (max-width: 1080px) {
    .range_sect {
       margin-bottom: 2rem; 
    }
}

/* ----------------------- */
/* full-width-img section */

section.full-width-img {
    padding: 0;
    max-height: var(--hero-height);
    overflow: hidden;
}
section.full-width-img > * {
    width: 100%;
    max-width: unset;
}

section.full-width-img .img_wrap {
    width: 100vw;
}
section.full-width-img img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
section.full-width-img.masterpiece {
    max-height: unset;
}
section.full-width-img.masterpiece .img_wrap {
    /* max-height: var(--hero-height); */
    max-height: unset;

    object-fit: contain;
    background: #edeeea;
}
.masterpiece .img_wrap img {
    /* object-fit: contain; */
}

/* ----------------------- */
/* full-width-img-padding section */

section.full-width-img-padding {
    padding: 0;
    max-height: var(--hero-height);
    overflow: hidden;
}
section.full-width-img-padding > * {
    width: 100%;
    max-width: var(--max-col-width);
}

section.full-width-img-padding .img_wrap {
    width: 100%;
    max-width: var(--max-col-width);

}
section.full-width-img-padding img {
    width: 100%;
    max-width: var(--max-col-width);
    height: 100%;
    max-height: calc(var(--hero-height) - (var(--gutter)*2));
    object-fit: cover;
}

/* ----------------------- */
/* half-width-img section */

section.half-width-img {
    padding: 0;
    max-height: var(--hero-height);
    overflow: hidden;
}
section.half-width-img > * {
    width: 100%;
    max-width: unset;
}

section.half-width-img .img_wrap {
    width: 50vw;
}
section.half-width-img img {
    width: 100%;
    min-width: 50vw;
    height: 100%;
    object-fit: cover;
}

/* ----------------------- */
/* half_panel */


.half_panel,
.half_panel-img_padding {
    padding: 0;
    max-height: unset;
    height: 100%;
}

.half_panel .row,
.half_panel-img_padding .row {
    align-items: center;
    max-width: unset;
    gap: 0;
    height: 100%;
    flex:2;
    align-items: stretch;
}

@media screen and (max-width: 1080px) {
    .half_panel .row,
    .half_panel-img_padding .row {
        flex-direction: column;
        align-items: flex-start;
    }
}

.half_panel .column,
.half_panel-img_padding .column {
    align-items: center;
    width: 50vw;
    /* height: 100%;
    flex: 1;  */
    /* or  */
    flex-grow: 1; 
    /* min-height: (var(--hero-height) - (var(--gutter)*2)) */
}
@media screen and (max-width: 1080px) {
    .half_panel .column,
    .half_panel-img_padding .column {
        width: 100%;
        max-width: 100%;
        align-items: flex-start;
        gap: 0;
    }
}

section.half_panel .text_wrap,
section.half_panel-img_padding .text_wrap {
    width: 50vw;
    height: 100%;
}
@media screen and (max-width: 1080px) {
    section.half_panel .text_wrap,
    section.half_panel-img_padding .text_wrap {
        width: 100%;
    }
}

section.half_panel p,
section.half_panel-img_padding p {
    max-width: unset;
}

section.half_panel img {
    width: 100%;
    /* min-width: 50vw; */
    height: 100%;
    /* height: var(--hero-height); */
    object-fit: cover;
}

section.half_panel .img_wrap, 
section.half_panel-img_padding .img_wrap {
    width: 100%;
    height: 100%;
}
section.half_panel-img_padding .img_wrap {
    max-width: calc(50vw - (var(--gutter)*2));
    max-height: calc(var(--hero-height) - (var(--gutter)*2));
    padding: var(--gutter);
}
@media screen and (max-width: 1080px) {
    /* section.half_panel .img_wrap, */
    section.half_panel-img_padding .img_wrap {
        width: 100%;
        max-width: var(--max-col-width);
        /* max-height: unset; */
        overflow-y: hidden;
    }
}

section.half_panel-img_padding img {
    width: 100%;
    height: 100%;
    /* max-width: calc(50vw - (var(--gutter)*2)); */
    object-fit: cover;
}
@media screen and (max-width: 1080px) {
    section.half_panel-img_padding img {
        max-width: var(--max-col-width);
    }    
}

.half_panel .text_wrap,
.half_panel-img_padding .text_wrap {
    width: 100%;
    padding: var(--gutter);
    /* background-color: var(--not-white); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    box-sizing: border-box;
}

.half_panel .text_wrap:nth-of-type(2),
.half_panel-img_padding .text_wrap:nth-of-type(2) {
    justify-content: flex-end;
    padding-top: 0;
}
.half_panel .column:has(.text_wrap:nth-of-type(2)),
.half_panel-img_padding .column:has(.text_wrap:nth-of-type(2)) {
    /* gap:0; */
}
.half_panel .column:has(.text_wrap:nth-of-type(2)) .text_wrap:nth-of-type(1),
.half_panel-img_padding .column:has(.text_wrap:nth-of-type(2)) .text_wrap:nth-of-type(1) {
    padding-bottom: 0;
}
/* 
.half_panel .text_wrap,
.half_panel-img_padding .text_wrap {
    padding-top: 0;
    justify-content: flex-end;

} */

/* .half_panel .text_wrap:first-of-type,
.half_panel-img_padding :not(.column:last-of-type) .text_wrap:first-of-type {
    padding-top: var(--gutter);
    padding-bottom: 0;
    justify-content: flex-start;

} */
.half_panel .text_wrap p:last-of-type,
.half_panel-img_padding .text_wrap p:last-of-type {
    margin-bottom: 0;
} 

.half_panel .text_wrap > * {
    width: 100%;
    max-width: unset;
}

/* ----------------------- */
/* fullwidth-feature */

.fullwidth-feature {
    padding: 0;
    height: var(--hero-height);
    min-height: 50vw;
    overflow: hidden;
}

.fullwidth-feature h2 {
    margin-bottom: var(--gap);
}
.fullwidth-feature .text_wrap {
    gap:1rem;
}


/* banner section */

.banner_section {}

.banner-content {}

.banner-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 50vw;
}

@media screen and (max-width: 1080px) {
    .banner-content img {
        max-width: 100%;
    }
}

/*  */

.text_wrap {
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1080px) {
    .text_wrap + .text_wrap {
        padding-top: 0;
    } 
}


.text_wrap p {
    margin-right: auto;
}
