/* specific.css */
/*  */

/* 

- specific sections outside of generic design

*/


/* ----------------------- */
/* patterns */

.pattern {
    background-image: url(../images/pattern.png);
    background-size: 7.5%;
    background-repeat: repeat;
}


/* ----------------------- */
/* full-width-bg */

.full-width-bg {
    padding: 0;
    width: var(--max-width);
    max-width: var(--max-width);
}

.full-width-bg .cell_wrap { position: relative; }
.cell_wrap .row { position: absolute; top:50%; left: var(--gutter); transform: translateY(-50%);}



/* ----------------------- */
/* twin-block */

.twin-block .img_wrap img {
    width: calc(var(--max-width) / 2);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
}
@media screen and (max-width: 880px) {
    .twin-block .img_wrap img {
        width: 100%;
        min-width: 100vw;
    }
}



/* ---------------------------- */
/* overflow images section */

.overflow_section {
    
}

.overflow_section .column-reverse-mob .column:first-of-type {
    max-width: 60vw;
}

.overflow_section .column.four-tenths,
.overflow_section .column-reverse-mob .column:last-of-type {
    max-width: 40vw;
}

@media screen and (max-width: 880px) {
    .overflow_section .column,
    .overflow_section .column-reverse-mob .column:first-of-type,
    .overflow_section .column-reverse-mob .column:last-of-type {
        max-width: var(--max-col-width);
    }
}
.overflow_section .img_wrap {
    width: 100%;
    height: 100vh;
    object-fit:cover;
}

@media screen and (max-width: 880px) {
    .overflow_section .img_wrap {
        width: var(--max-col-width);
    }
}

.overflow_section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.top_overflow.img_wrap {
    margin-top: -15vw;
}

@media screen and (max-width: 880px) {
    .top_overflow.img_wrap {
        margin-top: 0;
    }
}


/* home collections */

.half_panel-hero,
.collections-hero {
    padding: 0;
    justify-content: flex-start;
}
.half_panel-hero .row,
.collections-hero .row {
    align-items: center;
    max-width: unset;
    gap: 0;
}
.half_panel-hero .column,
.collections-hero .column {
    align-items: center;
    width: 100%;
    height: 100%;
}
.half_panel-hero .column,
.collections-hero .column {
    background-size: cover;
    background-position: center center;
    height: var(--hero-height);
    /* padding: var(--gap); */
}
.half_panel-hero .column .card,
.collections-hero .column .card {    
    
    max-width: calc(50vw - (var(--gutter)*2));
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
}
@media screen and (max-width: 1080px) {
    .half_panel-hero .column .card,
    .collections-hero .column .card {
        max-width: calc(50vw - (var(--gap)*2));
    }
}


@media screen and (max-width: 880px) {
    .half_panel-hero .column:has(.card) {
        margin: -30vh auto 3rem;
        box-sizing: border-box;
        width: calc(var(--max-width) - (var(--gutter)*2));
        z-index: 111;
    }
}

@media screen and (max-width: 880px) {
    .half_panel-hero .column .card,
    .collections-hero .column .card {    
    
        max-width: calc(var(--max-width) * 8/10);
        
    }
}

/*  */

/* featured hero section */

.featured-hero,
.customised-hero {
    padding: 0;
    justify-content: flex-start;
}
.featured-hero .row,
.customised-hero .row {
    align-items: center;
    max-width: unset;
    gap: 0;
}
.featured-hero .column,
.customised-hero .column {
    align-items: center;
    width: 100%;
    height: 100%;
}
.featured-hero .column,
.customised-hero .column {
    background-size: cover;
    background-position: center center;
    height: var(--hero-height);
    /* padding: var(--gap); */
}
.featured-hero  .column .card,
.customised-hero .column .card {    
    
    max-width: calc(50vw - (var(--gutter)*2));
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
}
@media screen and (max-width: 1080px) {
    .featured-hero .column .card,
    .customised-hero .column .card {
        max-width: calc(50vw - (var(--gap)*2));
    }
}
@media screen and (max-width: 1080px) {
    .featured-hero .column.empty_column {
        display: none;
    }
}
@media screen and (max-width: 880px) {
    .featured-hero .column .card,
    .customised-hero .column .card {    
    
        max-width: var(--max-col-width);
        
    }
}

.full-width-bg .img_wrap,
.full-width-bg .img_wrap img,
.half_panel-hero .full-width-bg .img_wrap,
.half_panel-hero .full-width-bg .img_wrap img,
.collections-hero .full-width-bg .img_wrap,
.collections-hero .full-width-bg .img_wrap img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-width-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* plain */

.plain:has(blockquote) {
    background-color: var(--not-white);
    height: 70vh;
}
@media screen and (max-width: 1080px) {
    .plain:has(blockquote) {
        height: auto;
    }
}

.plain:has(blockquote) .row {
    height: 100%;
}

.plain:has(blockquote) .column:first-of-type {
    height: 100%;
    justify-content: flex-start;
}
.plain:has(blockquote) .column:last-of-type {
    height: 100%;
    justify-content: flex-end;
}